.home {
    max-width: 1500px; /* allows the image to resize to the maxout width */
    margin-left: auto; /* ensures the image  */
    margin-right:auto;
}

.home__row1 {
    display: flex; /* because we don't want the products stacked, we want horizontal*/
    Z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightgrey;
}

.home__row {
    display: flex; /* because we don't want the products stacked, we want horizontal*/
    Z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightgrey;
}

.home__row2 {
    display: flex; /* because we don't want the products stacked, we want horizontal*/
    Z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightgrey;
}

.home__row3 {
    display: flex; /* because we don't want the products stacked, we want horizontal*/
    Z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightgrey;
}

.home__image {
    width: 100%; /* we want the image to take up 100% of the screen component area */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* linear gradient being added to photo */
    z-index: -1; /* we want the products to creep into the image */
    margin-bottom: -150px; /* we remove some margin to let the image creeps into the image area by entering -150 */

}